@charset "utf-8";
/* CSS Document */


 /******************    header  Start    *******************/
 .dt-buttons {
    margin-left: 10px;
}

/* ajax loaders */
.ajax-edit-loading:not(.no-ajax-edit-loading), .tab_ajax_loading.tab-pane,
.ajaxing-target:not(.no-ajaxing-target-loading) {
    position: relative;
}

.ajax-edit-loading:not(.no-ajax-edit-loading)::before, .tab_ajax_loading.tab-pane::before,
.ajaxing-target:not(.no-ajaxing-target-loading)::before {
    content: '';
    position: absolute;
    display: inline-block;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ajax-edit-loading:not(.no-ajax-edit-loading), .ajaxing-target:not(.no-ajaxing-target-loading) {
    min-height: 60px;
}

.ajax-edit-loading:not(.no-ajax-edit-loading)::before, .ajaxing-target:not(.no-ajaxing-target-loading)::before {
    width: 30px;
    height: 30px;
    left: 50%;
    top: 10px;
}

.tab_ajax_loading.tab-pane{
    min-height: 60px;
}

.tab_ajax_loading.tab-pane::before {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 10px;
}

/** Auto complete  */
.autocomplete-searching [data-autocmpl="true"]  {
    background: #ffffff url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;' width='20px' height='20px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='50' cy='50' fill='none' stroke='%23e15b64' stroke-width='10' r='35' stroke-dasharray='164.93361431346415 56.97787143782138'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1s' values='0 50 50;360 50 50' keyTimes='0;1'%3E%3C/animateTransform%3E%3C/circle%3E%3C!-- [ldio] generated by https://loading.io/ --%3E%3C/svg%3E") no-repeat right 0.2rem center !important;
}


/** smartwizard start  */

.sw-main .sw-btn-finish,
.sw-main.smartwizard-finish .sw-btn-next,
.sw-main.smartwizard-finish .sw-btn-cancel {
    display: none;
}

.sw-main.smartwizard-finish .sw-btn-finish {
    display: block;
}


/** smartwizard End  */


/*
*   breadcrumbs
*/

/* .dropdown-menu{
    top:100% !important;
} */

.breadcrumb .dropdown-menu{
    overflow-y: auto;
    max-height: 300px;
}

.breadcrumb .dropdown-menu .dropdown-items{
    overflow-y: auto;
    max-height: 200px;
}

@media (min-width: 768px){
    .modal-dialog {
        max-width: 710px;
    }
}

@media (min-width: 992px){
    .modal-dialog {
        max-width: 950px;
    }
}

@media (min-width: 1200px){
    .modal-xl {
        max-width: 1800px;
    }
}